/*****************************************************************
------------------------------------------------------------------
Arxiu homeAdopciones.jsx
------------------------------------------------------------------
*****************************************************************/
.img-adoptados {
	max-height: 300px;
	height: 100%;
	object-fit: cover;
}


/**Actualizador de tamaño de las fotos de los perros */
@media (max-width: 1200px) {
	.img-adoptados {
		max-height: 250px;
	}
}

@media (max-width: 992px) {
	.img-adoptados {
		max-height: 200px;
	}
}

@media (max-width: 768px) {
	.img-adoptados {
		max-height: 150px;
	}
}

@media (max-width: 500px) {
	.img-adoptados {
		max-height: 100px;
	}
}

@media (max-width: 361px) {
	.img-adoptados {
		max-height: 80px;
	}
}

/**Actualizador de la posicion de las cartas de los perros*/
@media (max-width: 768px) {
	.contenedor-cartas-perros{
		align-items: center;
		justify-content: center;
	}
}

/**Actualizar contenido banner */
@media (max-width: 768px) {
	.texto-banner-titulo{
		font-size: 23px;
	}
	.texto-banner-subtitulo{
		font-size: 18px;
	}
	.boton-adopcion-banner{
		height: auto;
		font-size: 12px;
	}
}

@media (max-width: 525px) {
	.texto-banner-titulo{
		font-size: 20px;
	}
	.texto-banner-subtitulo{
		font-size: 16px;
	}
	.boton-adopcion-banner{
		height: auto;
		font-size: 10px;
	}
}
@media (max-width: 468px) {
	.texto-banner-titulo{
		font-size: 18px;
	}
	.texto-banner-subtitulo{
		font-size: 14px;
	}
	.boton-adopcion-banner{
		height: auto;
		font-size: 10px;
	}
}
@media (max-width: 430px) {
	.texto-banner-titulo{
		font-size: 14px;
	}
	.texto-banner-subtitulo{
		font-size: 10px;
	}
	.boton-adopcion-banner{
		height: auto;
		font-size: 6px;
	}
}
@media (max-width: 360px) {
	.texto-banner-titulo{
		font-size: 14px;
	}
	.texto-banner-subtitulo{
		font-size: 10px;
	}
	.boton-adopcion-banner{
		height: auto;
		font-size: 8px;
		margin-top: -30px;
	}
}


/*****************************************************************
------------------------------------------------------------------
Arxiu home.jsx
------------------------------------------------------------------
*****************************************************************/


/**Actualitza les cartes per que cuan es fa menut aumente el tamany */
@media (max-width: 768px) {
	.carta-adoptats{
		width: 100% !important;
	}
}


/**Actualitza el titul de la segona row archiu home.jsx*/

@media (max-width: 477px) {
	.titul-row-2{
		font-size: 20px;
	}
}




/*****************************************************************
------------------------------------------------------------------
Arxiu homePerqueAdoptar.jsx
------------------------------------------------------------------
*****************************************************************/